.example-form {
    min-width: 500px;
    max-width: 800px;
    width: 100%;
    text-align: center;
    margin-top: 100px;
    
  }
  .example-form1 {
    min-width: 500px;
    max-width: 800px;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    
  }
  
  .example-full-width {
    width: 100%;
  }
  