<div class="example-form">
  <div class="container">
    <form [formGroup]="schoolForm">
      <mat-form-field class="example-form">
        <input type="text" matInput placeholder="Gib den Namen deiner Schule ein" formControlName="schoolGroup" required
          [matAutocomplete]="autoGroup">
        <mat-autocomplete #autoGroup="matAutocomplete">
          <mat-optgroup *ngFor="let group of schoolGroupOptions | async" [label]="group.letter">
            <mat-option *ngFor="let name of group.names" [value]="name">
              {{name}}
            </mat-option>
          </mat-optgroup>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <form [formGroup]="schoolForm">
      <mat-form-field class="example-form1">
        <input type="text" matInput placeholder="Gib den Nachnamen deines Lehrers ein">
      </mat-form-field>
    </form>
  </div>
  <button mat-raised-button color="primary" routerLink="/teachers">Ergebnisse anzeigen</button>
</div>